@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px
  }
  
  .select-control {
    width: 50%;
  }

  .size-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .size-card {
    width: 80px; 
    text-align: center;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .size-card:hover {
    background-color: #40454c;
    color: #fff;
  }